
/*RESET CSS: garante que fique igual nos navegadores*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* rola a página suavemente ao clicar em links âncora */
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* herda a cor do elemento pai */
}

button {
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
}